<!DOCTYPE html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:transparent; height:100px; padding:none; border-color:transparent; border:none;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%=image_tag "Logo-White-01.png", :style => "width: 90%; margin-top:0px; margin-left:5vw;"%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="myNavbar" style=" border:hidden!important; border-width:0!important;">
      <ul class="nav navbar-nav navbar-right" style="padding-top:20px;">
        <li class="navlink"><a class="navlink-a" href="">HOME</a></li>
        <li class="navlink"><a class="navlink-a" href="">ABOUT </a></li>
        <li class="navlink"><%= link_to 'DISCOVER', churches_path,:class=>"navlink-a" %></li>
        <li class="navlink"><%= link_to 'SEARCH', search_path,:class=>"navlink-a" %></li>
        <li class="navlink"><a class="navlink-a" href="">SUGGEST </a></li>
        <li style=" margin:8px 7vw 0px 1vw!important;"><a class="navlink-a" href="">CONTACT </a></li>



      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
</head>
<body id="body_home">
	<section id="hs1">
	<!--LANDING-->
	</section>
	<section id="hs2" class="row">
	<!--BLANK-->
		<div class="h-td1"><center><span class="h-title1">BRINGING OUT THE VALUE<br> OF PHILIPPINE CHURCHES</span></center></div>
		<hr id="hs2-u1">
		<div class="h-td2"><center><span class="h-title2">Bisita aims to showcase the artistic value of Philippine churches <br> through interactive engagement online</span></center></div>
		<hr id="hs2-u2">
	</section>
	<section id="hs3">
	<!--IMAGE LONG-->
	</section>

	<section id="hs4">
	<!--BLANK-->
		<div class="h-td1"><center><span class="h-title1">PERFECT CONNECTION OF HISTORY AND<br> MODERN AGE TECHNOLOGY</span></center></div>
		<hr id="hs2-u1">
		<div class="h-td2"><center><span class="h-title2">PresentinG churches in a way never done before - taking <br> advantage of today's fast and gadget driven lifestyle</span></center></div>
		<hr id="hs2-u2">
	</section>

	<section id="hs5">
	<!--TWO CHURCHES-->
	<div class="row">
		<div class=" col-md-6 flip-container nopadding" ontouchstart="this.classList.toggle('hover');">
			<div id="hc1" class="flipper">
				<div id="hc1-front" class="front col-md-12"></div>
				<div id="hc1-back" class="back col-md-12"></div>
			</div>


		</div>
		<div class="col-md-6 flip-container nopadding" ontouchstart="this.classList.toggle('hover');">

				<div id="hc2" class="flipper">
				<div id="hc2-front" class="front col-md-12"></div>
				<div id="hc2-back" class="back col-md-12"></div>
			</div>
		</div>
	</div>
	</section>


	<section id="hs6">
	<!--BLANK-->
		<div class="h-td1"><center><span class="h-title1">THE CONTRASTING INFUSION OF BOTH<br> HISTORIC DESIGN AND GRAPHIC DESIGN</span></center></div>
		<hr id="hs2-u1">
		<div class="h-td2"><center><span class="h-title2">Bisita is presented with design fitting today's market, while<br>featuring renowned and celebrated historic design</span></center></div>
		<hr id="hs2-u2">
	</section>

	<section id="hs7">
	<!--CEILING-->
	</section>

	<section id="hs8">
	<!--BLANK-->
		<div class="h-td1"><center><span class="h-title1">FEATURING TEN CHURCHES FROM<br> SELECT REGIONS OF LUZON</span></center></div>
		<hr id="hs2-u1">
		<div class="h-td2"><center><span class="h-title2">Bisita is a growing project and will further expand covering<br>more churches in Luzon, and eventually venturing to<br>Visayas and Mindanao</span></center></div>
		<hr id="hs2-u2">

	<div class="container hs8-regions">
		<div class="row">
			<div class="col-md-4 hs8-rlink"><center>REGION I</center></div>
			<div class="col-md-4 hs8-rlink"><center>REGION II</center></div>
			<div class="col-md-4 hs8-rlink"><center>REGION III</center></div>
		</div>
		<div class="row">
			<div class="col-md-6 hs8-rlink"><center>REGION IV-A</center></div>
			<div class="col-md-6 hs8-rlink"><center>NATIONAL CAPITAL<br>REGION</center></div>
		</div>
	</div>
	</section>

	<section id="hs9">
	<!--FOOTER-->
	<%=image_tag "Logo-White-01.png", :style => "width: 170px; margin-top:-5px; margin-left:25vw;"%> <span id="hs9-footer">&nbsp &nbsp&nbsp DISCOVERING PHILIPPINE CHURCHES</span>
	</section>

	<script type="text/javascript">
		function checkScroll(){
		    var startY = $('.navbar').height() * 4; //adjusts where transition starts

		    if($(window).scrollTop() > startY){
		        $('.navbar').addClass("scrolled");
		    }else{
		        $('.navbar').removeClass("scrolled");
		    }
		}

		if($('.navbar').length > 0){
		    $(window).on("scroll load resize", function(){
		        checkScroll();
		    });
		}
	</script>
</body>
