<h1>Results</h1>

<form action="/results">
  <input name="query">
  <input type="submit" value="Submit" class="hide"/>
</form>

<% if params['query'] == "" || params['query'].strip.empty? %>
  No search query
<% else %>

  <% if @churches.count == 0 %>
    Sorry, we couldn't find what you searched for.
  <% elsif @churches.count == 1 %>
    <% @message = 'Found 1 match with the word "'+params['query']+'"' %>
  <% else %>
    <% @message = 'Found '+@churches.count.to_s+' matches with the word "'+params['query']+'"' %>
  <% end %>


  <% if !@message.nil? %>
    <%= @message %><br>

    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Result</td>
        </tr>
      </thead>

      <tbody>
        <% @search.each_hit_with_result do |hit, church| %>
          <tr>
            <td><%= link_to church.name, church %></td>
            <td>"<%= hit.highlight(:background).format { |fragment| content_tag(:strong, fragment) }.html_safe %>"</td>
          </tr>
        <% end %>
      </tbody>
  </table>

  <% end %>

<% end %>