
<body id="body_home">

  <form id="suggest_form" action="/submit">

  <section id="sgs2">
  <!--BLANK-->
    <div class="sg-td4"><center><span class="sg-title4">CHOOSE A CHURCH TO<br> CONTRIBUTE TO:</span></center></div>
    <hr id="hs2-u1">
    
    <div class="container options">
    <div class="row">
      <div class="col-md-6 sg-rlink"><center>
        <input type='radio' value='Betis Church' name='radio_church' id='radio_betis'/>
        <label for='radio_betis'>BETIS CHURCH</label>
      </center></div>
      <div class="col-md-6 sg-rlink"><center>
        <input type='radio' value='Calasiao Church' name='radio_church' id='radio_calasiao'/>
        <label for='radio_calasiao'>CALASIAO CHURCH</label>
      </center></div>
    </div>
    <div class="row">
      <div class="col-md-6 sg-rlink"><center>
        <input type='radio' value='Majayjay Church' name='radio_church' id='radio_majayjay'/>
        <label for='radio_majayjay'>MAJAYJAY CHURCH</label>
      </center></div>
      <div class="col-md-6 sg-rlink"><center>
        <input type='radio' value='Minalin Church' name='radio_church' id='radio_minalin'/>
        <label for='radio_minalin'>MINALIN CHURCH</label>
      </center></div>
    </div>
    <div class="row">
      <div class="col-md-6 sg-rlink"><center>
        <input type='radio' value='Malaueg Church' name='radio_church' id='radio_malaueg'/>
        <label for='radio_malaueg'>MALAUEG CHURCH</label>
      </center></div>
      <div class="col-md-6 sg-rlink"><center>
        <input type='radio' value='Santa Ana Church' name='radio_church' id='radio_santa_ana'/>
        <label for='radio_santa_ana'>SANTA ANA CHURCH</label>
      </center></div>
    </div>
    <div class="row">
      <div class="col-md-6 sg-rlink"><center>
        <input type='radio' value='Tanay Church' name='radio_church' id='radio_tanay'/>
        <label for='radio_tanay'>TANAY CHURCH</label>
      </center></div>
      <div class="col-md-6 sg-rlink"><center>
        <input type='radio' value='Tayabas Church' name='radio_church' id='radio_tayabas'/>
        <label for='radio_tayabas'>TAYABAS CHURCH</label>
      </center></div>
    </div>
    <div class="row">
      <div class="col-md-6 sg-rlink"><center>
        <input type='radio' value='Tuguegarao Church' name='radio_church' id='radio_tuguegarao'/>
        <label for='radio_tuguegarao'>TUGUEGARAO CHURCH</label>
      </center></div>
      <div class="col-md-6 sg-rlink"><center>
        <input type='radio' value='Tumauini Church' name='radio_church' id='radio_tumauini'/>
        <label for='radio_tumauini'>TUMAUINI CHURCH</label>
      </center></div>
    </div>
  </div>

  </section>



<h2>Choose which category:</h2>
<table class="table">
  <tr>
    <td>
      <input type='radio' value='Year' name='radio_category' id='radio_year'/>
      <label for='radio_year'>Year</label>
    </td>
    <td>
      <input type='radio' value='Architecture' name='radio_category' id='radio_architecture'/>
      <label for='radio_architecture'>Architecture</label>
    </td>
  </tr>
  <tr>
    <td>
      <input type='radio' value='Make/Composition' name='radio_category' id='radio_make'/>
      <label for='radio_make'>Make/Composition</label>
    </td>
    <td>
      <input type='radio' value='Region' name='radio_category' id='radio_region'/>
      <label for='radio_region'>Region</label>
    </td>
  </tr>
  <tr>
    <td>
      <input type='radio' value='Travel Time From Manila' name='radio_category' id='radio_travel'/>
      <label for='radio_travel'>Travel Time From Manila</label>
    </td>
    <td>
      <input type='radio' value='Historical Background' name='radio_category' id='radio_background'/>
      <label for='radio_background'>Historical Background</label>
    </td>
  </tr>
  <tr>
    <td>
      <input type='radio' value='Timeline' name='radio_category' id='radio_timeline'/>
      <label for='radio_timeline'>Timeline</label>
    </td>
    <td>
      <input type='radio' value='Artistic Value' name='radio_category' id='radio_artistic_value'/>
      <label for='radio_artistic_value'>Artistic Value</label>
    </td>
  </tr>
</table>

<h2>Suggestion/s:</h2>
<textarea name="suggestion" rows="4" cols="50" style="resize:none;"></textarea>

<br>
<input type="submit" value="Submit">

</form>


</body>








