<form action="/try">
  <input id="query" name="query">
  <input type="submit" value="Submit" class="hide" onclick="isEmpty(query)"/>
</form>



<% if params['query'].nil? %>

<% else %>

<% if params['query'] == "" %>
No search query
<% else %>

<!-- if !@churches.empty? %>
        content_tag(:em, fragment) } %></p> -->

<table class="table">
  <tr>
    <td>Title</td>
    <td>Results</td>
  </tr>
<% @search.each_hit_with_result do |hit, church| %>
  <tr>
    <td><%= church.name %></td>
    <td><%= hit.highlight(:background).format { |fragment| content_tag(:strong, fragment) }.html_safe %></td>
  </tr>
<% end %>
</table>
<% end %>

<% end %>

<script>
</script>