/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #body_home{
  overflow-x:hidden;
 }
 #hs1,#hs2,#hs3,#hs4,#hs5,#hs6,#hs7,#hs8,#hs9,#hc1,#hc2,#hc1-front,#hc1-back,#hc2-front,#hc2-back {
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
 }
 #hs1{
     min-height: 100vh;
     background-color: transparent;
 }
 .hs1-title{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 57px;
  letter-spacing: 3px;
  color:white;
 }
  .hs1-s-title{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 1px;
  color:white;
 }
 .hs1-btn{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 1px;
  color:white;
  width: 150px;
  padding: 3px;
  margin-top: 30px;
  border:solid white 2px;
 }
 .hs1-btn:hover{
 	color:black!important;
background-color: white!important;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
 }
 .btn-hs1{
text-decoration: none!important;
z-index:99999!important;
 }
  .hs1-titlediv{
padding-top: 30vh;
 }
 .carousel-caption{
 	padding-top-top: 0px!important;
 }
 #hs2{
     min-height: 75vh;
 }
 #hs3{
     min-height: 185vh;
 }
  .parallax-window2 {
    min-height: 185vh;
    background: transparent;
}
 #hs4{
     min-height: 60vh;
 }
 #hs5{
     min-height: 700px;
 }
 #hc1{
  min-height: 700px;
 }
 #hc1-front{
  background-image: url(/assets/ch2bw.png);
 }
 #hc1-back{
  background-image: url(/assets/ch2.png);
  padding-top: 40%;
  color:white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 22px;
 }
 #hc2{
  min-height: 700px;
 }
 #hc2-front{
  background-image: url(/assets/ch1bw.png);
 }
 #hc2-back{
  background-image: url(/assets/ch1.png);
  padding-top: 40%;
  color:white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 22px;
 }
  #hs6{
     min-height: 80vh;
     padding-top: 5vh;
 }
  #hs7{
     min-height: 100vh;
 }
 .parallax-window1 {
    min-height: 100vh;
    background: transparent;
}
  #hs8{
     min-height: 110vh;
     padding-top: 4vh;
 }
 .hs8-regions{
  margin-top: 100px;
  width:60vw;
  margin-left: 20vw;
 }
 .hs8-rlink{
  min-height: 80px;
  color:#9e9e9e;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 18px;
 }
  #hs9{
     min-height: 17vh;
     background-image: url(/assets/2.jpg);
     background-position: center; 
     background-attachment: fixed;
 }
 #hs9-footer{
 	color: white;
 	font-size: 19px;
 	margin-top: 45px;
 	display:inline-block;
 	font-family: 'Titillium Web', sans-serif;
 	font-weight: 700;
 	letter-spacing: 2px;
 }
 .h-td1{
  margin-top: 15vh;
 }
 .h-td2{
  margin-top: 6.5vh;
 }
 .h-title1{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 27px;
  letter-spacing: 3px;
  color:black;
 }
 .h-title2{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: #BB5F31;
 }
 #hs2-u1{
  margin-top: 30px;
  width:8.5vw;
  border-color: black;
  border-width: 2px;
 }
  #hs2-u2{
    margin-top: 30px;
  width:8.5vw;
  border-color: black;
  border-width: 2px;
 }

 .navbar-brand{
   width:200px!important;
}
.navlink{

	margin:7px 2vw 0px 1vw;

}
.navlink-a{
	letter-spacing: 1px;
	font-size:19px!important;margin:none; outline:0; color:white!important;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
}

.navbar {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 9999!important;
}
.navbar.scrolled {
  background-color: #BB5F31!important;
}

 .navbar-default .navbar-nav > li > a {
   border-bottom: solid transparent 2px;
   padding-bottom: 2px!important;
    padding-left: 0 !important;
padding-right: 0 !important;
margin-left: 15px;
margin-right: 15px;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
   background-color: transparent;
   border-bottom: solid white 2px;
   padding-bottom: 2px!important;
    padding-left: 0 !important;
padding-right: 0 !important;
margin-left: 15px;
margin-right: 15px;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
   background-color: transparent;
   border-bottom: solid white 2px;
   padding-bottom: 2px!important;
    padding-left: 0 !important;
padding-right: 0 !important;
margin-left: 15px;
margin-right: 15px;
	letter-spacing: 1px;
	font-size:16px;margin:none; outline:0; color:white!important;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
 }

/*CSS FLIP*/
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;

}

.flip-container, .front, .back {
min-height: 700px;
}

.flipper {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;


    position: absolute;
    top: 0;
    left: 0;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.front {
    z-index: 2;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


/* CONTACT */

#cs1 {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#cs1{
    height: 100vh;
    background-image: url(/assets/38.jpg);
}

.c-title1, .c-title2, .c-title3{
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.c-td1{
    padding-top: 30vh;
}

.c-title1{
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 2px;
}

.c-td2{
    padding-top: 30px;
}

.c-title2, .c-title3{
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
}

.c-td3{
    padding-top: 25px;
}

/* ABOUT */

#as1, #as2, #as3, #as4, #as5 {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#as1{
    min-height: 100vh;
    background-color: transparent;
}

#as2, #as3, #as4{
    min-height: 95vh;
    background-color: transparent;
}

#as2{
    
}

#as3{
   
}

#as4{
   
}

#as5{
    min-height:100vh;
}
.as5-cont{
	margin-left: 10vw;
	width:80vw;
	padding-top: 30vh;
	  z-index:!important;
}
.as5-sec{
	height: 20vh;

}
.as5-pic{
	height:80px;

}
.as5-text{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: black;
}
 .as1-u1{
  margin-top: 15px;
  width:3.5vw;
 border-color: #BB5F31;
  border-width: 2px;
 }


.a-title1, .a-title2, .a-title3, .a-title4{
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.a-td1 {
    padding-top: 30.5vh; /* 325px */
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 3px;
}

.a-td2, .a-td3, .a-td4 {
    padding-top: 30.5vh;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 2px;
}

.a-td2, .a-td4{
    text-align: right;
    margin-right: 7vw!important;
}

.a-td3{
    text-align: left;
    margin-left: 7vw!important;
}
 #ab2-u1{
  margin-top: 20px;
  width:6.5vw;
  border-color: #BB5F31;
  border-width: 2px;

 }
 #ab6{
     min-height: 17vh;
     background-color: #BB5F31;
     background-position: center; 
 }

/*CD TOP*/
.cd-top {
  z-index:11000;
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: transparent url(/assets/arrowup1.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  background-size: cover;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .8;
}
.no-touch .cd-top:hover {

  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/*Carousel*/
.carousel,
.item,
.active {
    height: 100vh;
}

.carousel-inner {
    height: 100vh;
}
.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 70px;
    margin-top: -70px;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* SUGGEST */

#suggest_form .options{

  input {
    visibility:hidden;
  }

  label {
    cursor: pointer;
  }

  input:checked + label {
    color: #d6b34a;
  }  
}

#sgs1, #sgs2 {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#sgs1{
    height: 100vh;
    background-image: url(/assets/38.jpg);
}

.sg-title1, .sg-title2{
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.sg-td1{
    padding-top: 30vh;
}

.sg-title1{
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 2px;
}

.sg-title2{
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 1px;
}

.sg-td3{
    padding-top: 35px;
}

#sgs2{
  height: 100vh;
}

.sg-td4{
  margin-top: 10vh;
 }

.sg-title4{
  font-family: 'Titillium Web', sans-serif;
  color: black;
  font-weight: 600;
  font-size: 27px;
  letter-spacing: 3px;
}

.sg-td5{
  margin-top: 3vh;
 }


.sg-rlink{
  min-height: 50px;
  color:#9e9e9e;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 18px;
 }

 .sg-pic{
  background-color: #9e9e9e;
  height: 50px;
 }

 /* DISCOVER */

 .d-pic{
  height: 100px;
 }