/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #body_home{
  overflow-x:hidden;
 }
 #hs1,#hs2,#hs3,#hs4,#hs5,#hs6,#hs7,#hs8,#hs9,#hc1,#hc2,#hc1-front,#hc1-back,#hc2-front,#hc2-back {
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
 }
 #hs1{
     min-height: 100vh;
     background-image: url(/assets/2.jpg);
 }
 #hs2{
     min-height: 75vh;
 }
 #hs3{
     min-height: 185vh;
     background-image: url(/assets/9_1.png);
 }
 #hs4{
     min-height: 60vh;
 }
 #hs5{
     min-height: 700px;
 }
 #hc1{
  min-height: 700px;
 }
 #hc1-front{
  background-image: url(/assets/c2-e.png);
 }
 #hc1-back{
  background-image: url(/assets/c2-c.jpg);
 }
 #hc2{
  min-height: 700px;
 }
 #hc2-front{
  background-image: url(/assets/c1-e.png);
 }
 #hc2-back{
  background-image: url(/assets/c1-c.jpg);
 }
  #hs6{
     min-height: 80vh;
     padding-top: 5vh;
 }
  #hs7{
     min-height: 100vh;
     background-image: url(/assets/11.jpg);
 }
  #hs8{
     min-height: 130vh;
     padding-top: 7vh;
 }
 .hs8-regions{
  margin-top: 100px;
  width:70vw;
  margin-left: 15vw;
 }
 .hs8-rlink{
  min-height: 80px;
  color:#9e9e9e;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
 }
  #hs9{
     min-height: 19vh;
     background-image: url(/assets/2.jpg);
     background-position: center; 
 }
 #hs9-footer{
  color: white;
  font-size: 19px;
  margin-top: 38px;
  display:inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
 }
 .h-td1{
  margin-top: 14vh;
 }
 .h-td2{
  margin-top: 6.5vh;
 }
 .h-title1{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 27px;
  letter-spacing: 3px;
  color:black;
 }
 .h-title2{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  color: #BB5F31;
 }
 #hs2-u1{
  margin-top: 30px;
  width:8.5vw;
  border-color: black;
  border-width: 2px;
 }
  #hs2-u2{
    margin-top: 30px;
  width:8.5vw;
  border-color: black;
  border-width: 2px;
 }
 .navbar-brand{
   width:200px!important;
}
.navlink{
  margin:8px 2vw 0px 1vw;
}
.navlink-a{
  font-size:19px;margin:none; outline:0; color:white!important;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
  background-color: #BB5F31!important;
}

/*CSS FLIP*/
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container, .front, .back {
min-height: 700px;
}

.flipper {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;


    position: absolute;
    top: 0;
    left: 0;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.front {
    z-index: 2;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


/* CONTACT */

#cs1 {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#cs1{
    min-height: 100vh;
    background-image: url(/assets/38.jpg);
}

.c-title1, .c-title2, .c-title3{
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.c-td1{
    padding-top: 300px;
}

.c-title1{
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 1px;
}

.c-td2{
    padding-top: 30px;
}

.c-title2, .c-title3{
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
}

.c-td3{
    padding-top: 25px;
}

/* ABOUT */

#as1, #as2, #as3, #as4, #as5 {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#as1{
    min-height: 100vh;
    background-image: url(/assets/12.jpg);
}

#as2, #as3, #as4{
    min-height: 90vh;
}

#as2{
    background-image: url(/assets/13.jpg);
}

#as3{
    background-image: url(/assets/11.jpg);
}

#as4{
    background-image: url(/assets/11.jpg);
}

#as5{
    min-height:100vh;
}

.a-title1, .a-title2, .a-title3, .a-title4{
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.a-td1 {
    padding-top: 30.5vh; /* 325px */
    font-weight: 900;
    font-size: 65px;
    letter-spacing: 3px;
}

.a-td2, .a-td3, .a-td4 {
    padding-top: 30.5vh;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}

.a-td2, .a-td4{
    text-align: right;
    margin-right: 7vw!important;
}

.a-td3{
    text-align: left;
    margin-left: 7vw!important;
}

