<!DOCTYPE html>
<html>
<head>
  <title>Bisita</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>
<%= yield %>
</body>
</html>